<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
  </head>
  <body>
    <!-- /*@thymesVar id="vet" type="martin.karle.petclinic.model.Owner" */ -->
    <h1 th:text="'List of Owners'">List of Owners...</h1>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>First Name</td>
          <td>Last Name</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="owner : ${owners}">
          <td th:text="${owner.id}">1</td>
          <td th:text="${owner.firstName}">Carlos</td>
          <td th:text="${owner.lastName}">Martínez</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
