<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
  <meta charset="UTF-8">
  <title>List of Vets</title>
</head>
<body>
  <!-- /*@thymesVar id="vet" type="martin.karle.petclinic.model.Vet" */ -->
  <h1 th:text="'List of Vets'">List of vets...</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Carlos</td>
        <td th:text="${vet.lastName}">Martínez</td>
      </tr>
    </tbody>
  </table>
</body>
</html>

